@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  z-index: 1;
  min-height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  translate: (-20%, 0);
}

h3 {
  position: absolute;
  transform: translateY(10%);
  bottom: 85vh;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
}

h5 {
  position: absolute;
  bottom: 55vh;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
}

h6 {
  position: absolute;
  bottom: 25vh;
  transform: translateY(50%);
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
}

.front {
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 10px;
}

header ul li {
  list-style: none;
  float: left;
  font: bolder;
}

header ul li a {
  margin-left: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover {
  background: #2e798c;
}

/* 768px 이하의 화면에서 */
@media (max-width: 768px) {
  header.front {
    flex-direction: column;
    text-align: center;
    padding: 15px;
    transform: translateX(-10%);
  }

  nav ul {
    justify-content: center; /* 항목을 중앙 정렬 */
    flex-wrap: wrap; /* 화면 크기에 따라 항목이 줄바꿈되도록 */
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav ul li a {
    font-size: 14px;
    padding: 8px 12px;
  }

  h5 {
    font-size: 20px; /* 태블릿 크기에서는 약간 작은 글씨 */
  }
}

/* 480px 이하의 화면에서 */
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  h5 {
    font-size: 30px; /* 모바일 크기에서는 더 작은 글씨 */
  }

  nav ul {
    justify-content: center; /* 항목을 중앙 정렬 */
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav ul li a {
    font-size: 12px;
    padding: 8px;
  }
}
