@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* overflow: hidden; */
  min-height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

h3 {
  position: absolute;
  transform: translateY(10%);
  bottom: 85vh;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
}

/* .front {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

#map {
  position: relative;
  left: 35%;
  top: 150%;
  width: 500px;
  height: 500px;
  margin-top: 20vh;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 10px;
}

header ul li {
  list-style: none;
  float: left;
  font: bolder;
}

header ul li a {
  margin-left: 50px;
  color: #fff;
  font-weight: 300;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover {
  background: #2e798c;
}
